body {
    margin: 0 auto;
    max-width: 600px;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    background: rgb(37, 37, 37);
}

.hidden {
    display: none;
}

.app-button {
    color: white;
    background-color: #12AF7A;
    font-weight: 600;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: .25rem;
    height: 3rem;
}

.app-button:hover {
    cursor: pointer;
    background-color: #11855e;
}

/* HEADER */

header {
    background: url("/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 65%;
    padding-left: 2.75rem;
    padding-top: 2rem;
    padding-bottom: 3.75rem;
}

header h1, h2 {
    color: white;
    font-weight: 400;
    margin: 0;
}

header h1 {
    font-size: 2.5rem;
}

header h3 {
    font-size: 1.5rem;
}

/* NAV (the menu sections) */

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    box-sizing: border-box;
    background-image: url("/img/nav.png");
    background-color: #434247;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid orangered;
}

nav button {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 3.5rem;
    padding: .5rem 3rem;
    border-radius: .25rem;
    background-image: url("/img/nav-button.png");
    background-color: #28282b;
    font-family: 'Smythe', cursive;
    font-size: 1rem;
}

nav button:hover {
    cursor: pointer;
    outline: 1px solid goldenrod;
}

#nav-main {
    border: 1px solid goldenrod;
}

#nav-sides {
    border: 1px solid orange;
}

#nav-drinks {
    border: 1px solid chocolate;
}

nav button i {
    font-size: 1.25rem;
    margin-right: .5rem;
    pointer-events: none;
}

#nav-main i {
    color: goldenrod;
}

#nav-sides i {
    color: orange;
}

#nav-drinks i {
    color: chocolate;
}

nav button div {
    color: gainsboro;
    pointer-events: none;
}

/* MENU (the food items) */

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-size: cover;
    background-position: center;
}

.menu-item-details {
    outline: 1px solid black;
    width: 40%;
    padding: .5rem 1rem 0 1rem;
    color: white;
    text-shadow: 0 0 1px brown;
    background-color: rgba(133, 61, 20, 0.25);
    border-radius: .5rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 400;
    margin: 0;
}

.food-details {
    color: rgba(245, 245, 245, 0.8);
    margin: 0;
    text-shadow: 0 0 1px brown;
}

.food-price {
    font-size: 1.25rem;
    margin-top: .25rem;
    margin-bottom: .75rem;
}

.menu-item-btns {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 35%;
}

.menu-item-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    border: 1px solid #8B8B8B;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

.menu-item-btn:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-quantity {
    width: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 1px brown;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0 .25rem;
    border-radius: .25rem;
}

/* ORDER */

#order {
    background: #F5F5F5;
}

.centered-text {
    text-align: center;
    margin: 2.5rem 0;
    padding-top: 1.5rem;
}

.order-items {
    list-style-type: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.5%;
}

.item-name {
    font-size: 1.75rem;
    font-weight: 400;
}

.item-qty {
    color: #979797;
}

.item-remove {
    color: #BBBBBB;
}

.item-remove:hover {
    cursor: pointer;
    color: #979797;
}

.item-price {
    display: inline-block;
    width: 2rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: right;
}

.order-line {
    height: 1px;
    background-color: #8B8B8B;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 3.25rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
}

#order-button {
    width: 90%;
}

/* PAY MODAL */

#pay-modal-container {
    display: none; /* flex when #order-button is clicked */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#pay-modal {
    width: 90%;
    max-width: 540px;
    display: none; /* flex when #order-button is clicked */
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #BABABA;
}

#pay-modal h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 2.5rem 0;
}

#pay-modal input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem .75rem .75rem;
    box-sizing: border-box;
    border: 1px solid #757575;
    border-radius: .25rem;
}

/* hide increment/decrement arrows */
#pay-modal input::-webkit-outer-spin-button,
#pay-modal input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#pay-button, #cancel-button {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

#cancel-button {
    background-color: #EE4545;
}

#cancel-button:hover {
    background-color: #BE3737;   
}

/* ORDER COMPLETE MODAL (replaces pay modal content */

#order-complete {
    width: 100%;
}

#complete-button {
    background-color: rgba(133, 61, 20, 0.25);
    border: none;
    border-radius: .25rem;
    width: 100%;
    padding: 2rem 1rem;
}

#complete-button h3 {
    font-family: 'Smythe', cursive;
    font-size: 1.75rem;
    font-weight: 100;
    color: #464646;
    margin: 0;
}

#complete-button div {
    font-family: 'Smythe', cursive;
    font-size: 1rem;
    color: #8B8B8B;
    margin: .75rem 0 0;
}

#complete-button:hover {
    cursor: pointer;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    background-image: url("/img/footer.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    padding: 1rem 2.5rem;
    color: white;
}

.footer-text {
    width: 50%;
    margin-right: 1rem;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 480px) {
    /* NAV */
    nav button {
        width: 5rem;
        padding: .5rem 3.5rem;
        font-size: 1.5rem;
    }

    /* MENU */
    .menu-item {
        padding: 2.5rem;
    }

    .menu-item-details {
        padding: .5rem 2rem 0 2rem;
    }
}